<% include ./partials/header %>

<main>

    <div class="grid">
        <div class="grid-sizer"></div>
        <div class="gutter-sizer"></div>

        <% images.forEach((image) => { %>

            <div class="grid-item card">
                <div class="card-image">
                    <div class="action-icons right">
                        <i class="far fa-heart like"></i>
                        <i class="material-icons show-comments activator right" onclick="setTimeout(function () { $('#comment_<%= image.img_id %>').focus(); }, 250);">comment</i>
                    </div>

                    <img src="<%= image.img %>" alt="Error Loading Img">
                </div>

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">
                        <%= image.title %>
                    </span>

                    <p class="byUser"><a href="/users/<%= image.user_id %>">By <%= image.user %><i class="material-icons left">account_circle</i></a></p>
                </div>

                <div class="card-reveal">
                    <div class="image-info">
                        <span class="card-title grey-text text-darken-4"><%= image.title %><span class="right"><i class="material-icons close-view">close</i></span></span>
                        <p><%= image.description %></p>
                        <p>
                            <% image.tags.forEach((tag) => { %>
                                <div class="chip"><%= tag %></div>
                            <% }); %>
                        </p>

                        <p><a href="/users/<%= image.user_id %>">By <%= image.user %></a></p>

                        <div class="divider"></div>
                    </div>

                    <div class="comment-wrapper">
                        <div class="comments">
                            <% image.comments.forEach((comment) => { %>
                                <blockquote>
                                    <%= comment.comment %>
                                    <br>
                                    <a href="/users/<%= comment.user_id %>"><%= image.user %><i class="material-icons left">account_circle</i></a><span class="right">Posted <%= comment.ago %></span>
                                </blockquote>
                            <% }); %>
                        </div>
                    </div>

                    <div class="add-comment">
                        <div class="divider"></div>

                        <form action="/petpics/<%= image._id %>/comment" method="post">
                            <div class="row" style="margin-bottom: 0 !important; height: 100%;">
                                <div style="margin-bottom: 0 !important;" class="input-field col s8">
                                    <input id="comment_<%= image.img_id %>" data-length="100" class="comment" type="text" name="comment" value="">
                                    <label for="comment_<%= image.img_id %>">Comment</label>
                                </div>

                                <div style="margin-bottom: 0 !important;" class="input-field col s4">
                                    <button class="btn btn-large btn-comment waves-effect waves-light">Comment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        <% }); %>

    </div>
</main>

<% include ./partials/footer %>
